/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/
html{
  font-size: 62.5%;
}

body {
  font: 400 1.6rem/1.5 Outfit, sans-serif;
  background: hsl(212, 45%, 89%);
  color: hsl(216, 15%, 48%);
}

/*
  ========================================
  Grid
  ========================================
*/
*{
    box-sizing: border-box;
}
.container{
  max-width: 1360px;
  margin: 0 auto;
  border: 1px solid gold;
}
.section-padding{
  padding: 5rem 0;
}
.stack{
  display: flex;
  flex-direction: column;
}

.gap-md{
  gap: 3rem;
}
.gap-sm{
  gap: 1rem;
}

/*
  ========================================
  Clearfix
  ========================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
  ========================================
  Typography
  ========================================
*/
h1{
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}


/*
  ========================================
  Body
  ========================================
*/
div{
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  padding: 1em;
  padding-bottom: 2em;
  background: white;
}
img{
  width: 100%;
}
div,
img{
  border-radius: 1em;
}
